Lasagne==0.2.dev1
Theano==0.9.0dev0
argparse==1.2.1
bob.blitz==2.0.8
bob.core==2.1.2
bob.extension==2.0.11
bob.io.base==2.0.8
cycler==0.10.0
docopt==0.6.2
gdbn==0.1
gnumpy==0.2
joblib==0.9.4
matplotlib==1.5.1
nolearn==0.6adev
numpy==1.11.0
pydot==1.0.2
pyparsing==1.5.7
python-dateutil==2.5.2
pytz==2016.3
scikit-learn==0.17.1
scipy==0.17.0
six==1.10.0
tabulate==0.7.5
wsgiref==0.1.2
